<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlete1</servlet-name>
        <servlet-class>controller.Servlete1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlete</servlet-name>
        <servlet-class>com.controller.UserServlete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>com.controller.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupCustomer</servlet-name>
        <servlet-class>com.controller.SignupCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupCustomerServlet</servlet-name>
        <servlet-class>com.controller.SignupCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServiceProviderServlet</servlet-name>
        <servlet-class>com.controller.SignupServiceProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>com.controller.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServiceProvider</servlet-name>
        <servlet-class>com.controller.ViewServiceProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrder</servlet-name>
        <servlet-class>com.controller.NewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>com.controller.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <servlet-class>com.controller.CompleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingsServlete</servlet-name>
        <servlet-class>com.controller.RatingsServlete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewratingsServlet</servlet-name>
        <servlet-class>com.controller.NewratingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>com.controller.SampleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlete</servlet-name>
        <url-pattern>/UserServlete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupCustomer</servlet-name>
        <url-pattern>/SignupCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupCustomerServlet</servlet-name>
        <url-pattern>/SignupCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServiceProviderServlet</servlet-name>
        <url-pattern>/SignupServiceProviderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServiceProvider</servlet-name>
        <url-pattern>/ViewServiceProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrder</servlet-name>
        <url-pattern>/NewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <url-pattern>/CompleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingsServlete</servlet-name>
        <url-pattern>/RatingsServlete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewratingsServlet</servlet-name>
        <url-pattern>/NewratingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/SampleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
